/* Mobile device  */

@media screen and (max-width:600px) {
    body{
        padding: 0%;
    }

    /* nav section  */
    nav{
        flex-direction: column;
    }

    .nav-container{
        align-items: center;
        width: 60%;
        margin: 0 auto;
        flex-direction: row;
        
    }
    nav ul{
       
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-top: 0px;
        padding-left: 0px;
       
        gap: 5px;
        
        
   
    }
     /* banner  */

    .head-banner{
        width: 100%;
        /* height: auto; */
        padding: 20px auto ;
    ;
    }  
    .head-banner .banner-title {
        font-size: 150%;
        padding: 30px auto;
        
       }
   .head-banner .banner-buttons{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0%;
        
    }

    .head-banner .banner-description {
         color: #FFF;
        font-size: 70%;
        padding: 10px 40px;
        justify-content: center;
        margin: 0;
        
    }   

    .head-banner .banner-buttons button{
        text-align: center;}
/* tour section  */

.tour-section{
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px auto;
    gap: 0px;
}

.tour-section img{
    margin-top: 10px;
    width: 100%;
}
.populur-tour {
    align-items: center;
    /* width: 50%; */
    padding: 0;
    margin: 0%;
    
}
    
/* img scction  */

.img-section .row1, .row2,.row3{
    flex-direction: column;
}

.img-section .srilangka,
.kasmir {
    width: 100%;
 flex-direction: column;}
    .img-section .america {
        width: 100%;
    }

.service-section{
    width: 100%;
    flex-direction: column;
}

.discountion img{
    width: 100%;

}

.review-section{
    padding: 10px auto;
    flex-direction: column;
}

.best-price {
    width: 90vw;
    padding: 20px 0px;

}

.bd-video{
    width: 100%;
}
.subscribe{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.Subscribe-btn{
    width: 100%;
}

.subscribe img{
    width: 140%;
}

.save-up {
    width: auto;
    position: relative;
    bottom: auto;
    left: auto;
}
footer{
    width: 90vw;
}


}