@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;1,800&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    
}

nav .logo{
    display: flex;
}