@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;1,800&display=swap');

body {
    max-width: 1100px;
    /* border: 2px solid red; */
    font-family: 'Mulish', sans-serif;
    padding: 50px 120px;
    margin: 0 auto;
}

* {
    /* border: 2px solid red; */

}

/* text size */
.bold2 {
    color: #131318;
    font-size: 2.5rem;

    .bold3 {
        color: #131318;
        font-size: 24px;
    }

}

.description {
    color: #5A5A5D;
    font-size: rem;
    /* font-weight: 400; */
}

/* universle button  */
.orenge-btn {
    color: #FFF;
    font-size: 1.4rem;
    background-color: #FF5400;
    padding: 14px auto;


}

span {
    color: #FF5400;
}

nav {

    display: flex;
    justify-content: space-between;
    /* width: 50%; */

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */


}

.nav-container img {
    margin-right: 10px;
    width: 40px;
    height: 40px;

}

nav .title {
    font-size: 2rem;
}

nav ul {
    /* border: 2px solid red; */
    display: flex;
    padding-top: 40px;
    text-decoration: none;


}

nav li {
    list-style: none;
    padding-right: 35px;
    font-size: 1rem;
}

.head-banner {
    /* border: 2px solid red; */

    max-width: 1100px;
    width: 100%;
    height: 480px;
    text-align: center;
    border-radius: 16px;
    background: no-repeat, linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ .png');

}

.head-banner .banner-title {
    color: #FFF;
    font-size: 4rem;
}

.head-banner .banner-description {
    color: #FFF;
    font-size: 1rem;
}

.head-banner .banner-buttons {
    width: 750px;
    /* margin-left: 165px; */
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 10px;
    padding-right: 0;
}

button {
    border: 0;
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.50);
    padding: 16px;
}

.banner-buttons button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.banner-buttons .find-btn {
    color: #FFF;
    background-color: #FF5400;
    font-size: 1rem;

}

/* tour-section  */

.tour-section {
    display: flex;
    /* max-width: 1100px; */
    /* width: 100%; */
    padding: 50px 2px;
    gap: 10px;
}

.tour-section .read {
    width: 174px;
    height: 52px;
}

.populur-tour {
    padding: 10px auto;
    /* border: 2px solid red;
    gap: 50px; */
}

.tour-section. .location-1 {
    background-image: url(../Images/Rectangle\ 5.png);

}

/* distination img  */
.destination {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    /* padding: 30px 200px; */
}

.img-section .row1 {
    display: flex;
    padding: 20px;
    gap: 20px;


}


.img-section .row2,
.row3 {
    display: flex;
    padding: 10px;
    gap: 20px;

}

.img-section .srilangka,
.kasmir {
    width: 30%;
}

.img-section .america {
    width: 43%;
}

.img-section .bd {
    /* width: 30%; */
}

/* choose-section */

.choose-section {
    text-align: center;
}

.service-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.service-section .service,
.hotels,
.best-price {
    border-radius: 16px;
    max-width: 523px;
    padding: 20px 10px;
    height: 254px;


}


.hotels {
    margin: auto;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.service {

    border: 1px solid rgba(41, 206, 246, 0.20);

    background: rgba(41, 206, 246, 0.05);
}

.price-section {

    width: 100%;
    padding-top: 20px;
    /* border: 2px solid black; */

}

.best-price {

    border-radius: 16px;
    max-width: 523px;
    margin: 0 auto;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    height: 254px;


}

.price-section div {
    align-items: center;


}


.discountion .deal {
    text-align: center;
    padding: 10px auto;

}

.discountion .pricing {
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;

}

.discountion {
    text-align: center;
}

.package-btn {
    margin: 30px;
    color: #FFF;
    font-size: 1.4rem;
    padding: 14px auto;
    border-radius: 8px;
    background: #FF5400;
    width: 210px;
    height: 52px;

}


/* review-section */

.review-section {
    display: flex;
}

.bd-video {
    border-radius: 10px;
}

/* Subscribe style  */

.subscribe {
    margin: 50px auto;
    display: flex;
    gap: 20px;

}

.subscribe .subscribe-form {
    width: 50%;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;

}

.subscribe .subscribe-form input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 5px 10px;
    border: 0;
    max-width: 390px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    font-size: 1rem;
    margin: 10px;


}

.Subscribe-btn {
    width: 380px;
    height: 40px;
    padding: 5px 10px;
}


.subscribe .save-up {
    text-align: center;
    width: 250px;
    height: 80px;
    color: #FFF;
    margin: 0;
    padding: 0 auto;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
}

/* footer style  */

footer {

    background: rgba(19, 19, 24, 0.05);
    max-width: 1100px;
    width: 100%;
    height: 402px;
    margin: 20px;
}

footer .foott {

    text-align: center;
    /* display: flex; */
    border-bottom: 2px solid rgba(19, 19, 24, 0.10);
}

footer .brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .foot-discription {}

footer .right {
    text-align: center;

}